body {
    font-family: "Hind Siliguri";
 
}
.header {
    margin-top: 16px;
}

.title__all {
    font-weight: 600;
    font-size: 44px;
    line-height: 71px;
    color: #030D15; 
}

.redtext {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.145em;
    color: #C72535;
    opacity: 0.6;
    text-transform: uppercase;
}

.container {
    max-width: 1130px;
    margin: 0 auto;
}

.header__container {
    display: flex;
    align-items: center;
    margin-bottom: 34px;
}

.header__menu {

    font-size: 14px;
    font-weight: 500;
    line-height: 22.64px;
    text-transform: uppercase;
    color: #030D15;
    width: 573px;
    margin-left: 177px;
    margin-right: 155px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.header__menu a {
    border-bottom: 2px solid white;
    gap: 40px;
}

.header__menu a:hover {
    border-bottom: 2px solid #030D15;
}

.header__menu a:not(:last-child)::after {
    content: url('../image/arow_down.svg');
    position: relative;
    left: 7px;
    bottom: 2px;
    
}

.header__info {
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.icon {    
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
 
}

.icon_user {
    background-color: #F4F9FC;    
}

.icon__count {
    position: absolute;
    top: 7px;
    right: 5px;
    height: 12px;
    width: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 400;
    font-size: 10px;
    background-color: #C72535;
    border-radius: 50%;

}

.header__info img {
    height: 16px;
    width: 16px;
}



.slider__content {
    display: flex;
    flex-direction: column;
 
    margin-top: 75px;
    position: relative;   

}

.slider__content h1 {   
    font-weight: 400;
    font-size: 61px;
    line-height: 73px;
    color: #030D15;
    width: 550px;

}

.slider__content h1 mark{
    font-weight: 600;
    color: #247CC0;
    background-color: #E9F2F9;
    display: flex;
    height: 72px;
    width: 484px;    
}

.slider__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    color: #030D15;
    opacity: 0.6;
    width: 515px;
    margin-top: 29px;
    margin-bottom: 36px;
}

.slider__content a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 151px;
    height: 58px;
    background-color: #247CC0;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: white;
}

.slider__bye {
    display: flex;
    align-items: center;
    gap: 18px;
}

.slider__bye span:first-child {
    font-weight: 500;
    font-size: 20px;
    line-height: 27px;
    color: #030D15;
}

.slider__bye span:last-child {
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    text-decoration-line: line-through;
    color: #030D15;
    opacity: 0.5;
}


.slider__block {
    display: flex;
    align-content: center;


}

.slider__brend {
  
    display: flex;
    width: 1130px;
    height: 237px;
    justify-content: center;
    align-items: center;
    gap: 84px;
    background-color: white;
    box-shadow: 0px 100px 80px rgba(174, 174, 174, 0.08), 0px 43.751px 36.4414px rgba(174, 174, 174, 0.0575083), 0px 19.8401px 19.1406px rgba(174, 174, 174, 0.0476886), 0px 6.77214px 9.61331px rgba(174, 174, 174, 0.04), 0px 0.190079px 4.14347px rgba(174, 174, 174, 0.0323114), 0px -1.73968px 1.20532px rgba(174, 174, 174, 0.0224916);
    position: absolute;
    top:628px;

}

.recommended .container {
    margin-top: 310px;

    display: flex;
    align-items: center;
    justify-content: space-between;

}

.recommended__product {
    display: flex;
    width: 548px;
    position: relative;
}

.tovar_1 {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 262px;
    height: 248px;
    border: 1px solid rgba(0, 0, 0, 0.1);
 
}

.recommended__cart {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #F2F2F2;
    border-radius: 50%;
    background: white;
    position: absolute;
    top: -22px;
    left: 240px;
    
}
.recommended__description {
    margin-left: 30px;
}

.recommended__description h3 {
   
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #030D15;
    margin-top: 31px;
}

.recommended__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #030D15;
    opacity: 0.6;
    margin-top: 9px;
}

.recommended__price {
    margin-top: 20px;
    display: flex;
    gap: 2px;

}

.star {
    display: flex;
    width: 65px;
    margin-top: 15px;
    justify-content: space-between;
}



.sale .container {
    margin-top: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.sale__options {
    width: 555px;
    height: 296px;
    background-image: url(../image/hopter-bg.svg);
    position: relative;
    color: #F4F9FC;
}

.sale__options span {
    color: #F4F9FC;
    font-weight: 500;
    font-size: 16px;
    line-height: 27px;
    display: flex;
    margin-top: 75px;
    margin-left: 35px;
    opacity: 0.6;
}

.sale__options h4 {
    width: 258px;
    font-weight: 600;
    font-size: 31px;
    line-height: 40.3px;
    display: flex;
    margin-top: 5px;
    margin-left: 35px;

}

.sale__options a {
    color: #F4F9FC;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    display: flex;
    margin-top: 7px;
    margin-left: 35px;
}

.drone {
    position: absolute;
    top: -22px;
    left: 234px;

}

.camera {
    position: absolute;
    top: 36px;
    left: 260px;
}

.about {
    margin-top: 284px;
    background-color: #F4F9FC;
    position: relative;
    height: 630px;
}

.about .container {
    display: flex;
    position: absolute;
    top: -238px;
    left: 50%;
    transform: translate(-50%);
}

.right {
    width: 457px;
    margin-left: 131px;
}

.about__title {
    width: 378px;
    margin-top: 105px;
    margin-bottom: 115px;
}

.right p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #030D15;
    opacity: 0.6;
    margin-top: 40px;
}

.right ul {
    margin-top: 40px;
    margin-left: 13px;
}

.right li {
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    color: #030D15; 
}

.right li::before {
    content: url('../image/okey.svg');
    position: relative;
    right: 13px;
    bottom:-5px;
    
}

.popular__text {
    margin-top: 125px;
    display: flex;
    align-items: center;
    flex-flow: column;

}

.popular__link {
    margin-top: 22px;
    width: 490px;
    display: flex;
    justify-content: space-between;
}

.popular__link a {
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #030D15;
    opacity: 0.6;
}

.popular__link a:hover {
    color: #C72535;

}

.popular__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;
}

.popular__tab {
    margin-top: 50px;
    width: 360px;
    height: 503px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
}

.popular__tab:hover {
    border: none;
    box-shadow: 0px 100px 80px rgba(191, 191, 191, 0.07), 0px 41.7776px 33.4221px rgba(191, 191, 191, 0.0503198), 0px 22.3363px 17.869px rgba(191, 191, 191, 0.0417275), 0px 12.5216px 10.0172px rgba(191, 191, 191, 0.035), 0px 6.6501px 5.32008px rgba(191, 191, 191, 0.0282725), 0px 2.76726px 2.21381px rgba(191, 191, 191, 0.0196802);
}



.popular__tab .description {
    display: flex;
    margin-top: 35px;
    margin-left: 35px;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    color: #030D15;
}

.popular__tab > img {
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.popular__options {
    background: white;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 158px;
    width: 358px;
    position: absolute;
    z-index: 1;
    top:343px;
}

.popular__options .title__name {    
    font-weight: 600;
    font-size: 25px;
    line-height: 40px;
    color: #030D15;
}

.left {
    margin-left: 35px;
}

.popular__optionshide {
    background: #FAFAFA;
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 158px;
    width: 358px;
    position: absolute;
    z-index: 0;
    top:343px;
}

.popular__icon {    
    margin-left: 35px;
    margin-top: 27px;
    margin-bottom: 41px;
    display: flex;
    width: 290px;
    justify-content: space-between;

}

.popular__tab:hover .popular__optionshide {
    z-index: 3;
}

.popular__all {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.popular__all > a {
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    text-transform: uppercase;
    color: #030D15;
    gap: 10px;  
}

.popular__all img {   
    position: absolute;
     margin-top: 5px;
     margin-left: 10px;
}

.another {
    margin-top: 130px;
}

.another__title {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.another__text {
    width: 457px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #030D15;
    opacity: 0.6;
}


.contact {
    width: 100%;
    background: #F4F9FC;
    margin-top: 130px;
}

.contact .container {
    height: 310px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.contact__text {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 110px;
    
}

.contact__text .redtext {
    font-size: 23px;
}

.contact__text .title__all {
    font-size: 25px;
}

.contact__send input[type=text] {
    width: 457px;
    height: 50px;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #030D15;
    opacity: 0.4;
    padding-left: 20px;
}

.contact__send input[type=button] {
    width: 122px;
    height: 50px;
    background: #247CC0;
    font-weight: 600;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.another_storehouse {
    margin-top: 50px;
    width: 100%;
    height: 815px;
    display: grid; 
    grid-template-columns: (3, 360px);
    grid-template-rows: (255px, 80px, 105px, 130px, 250px); 
    row-gap: 10px;
    column-gap: 30px;
}

.storehouse {
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 252px;
    position: relative;

}


.storehouse:nth-child(1) {
    grid-column: 1;
    grid-row: 1/3;
    height: 360px;
}

.storehouse:nth-child(2) {

}

.storehouse:nth-child(3) {
    grid-column: 3;
    grid-row: 1/4;
    height: 432px;
}

.storehouse:nth-child(4) {
    margin-top: 30px;
    grid-column: 1;
    grid-row: 3/6;
    height: 456px;
}

.storehouse:nth-child(5) {
    grid-column: 2;
    grid-row: 2/5;
    margin-top: 30px;
    margin-bottom: 30px;

}

.storehouse:nth-child(5) {

}

.storehouse:nth-child(7) {
    margin-top: 30px;
    grid-column: 3;
    grid-row: 4/6;
    height: 354px;
}

.storehouse .slider__bye {
    position: absolute;
    top: 35px;
    left: 35px;
    font-weight: 500;
    font-size: 16px;
    gap: 1px;
    z-index: -1;
}

.storehouse:hover .slider__bye {
    z-index: 2;
}

.storehouse .star {
    position: absolute;
    margin-top: 0px;
    top: 65px;
    left: 35px;
    z-index: -1;
}

.storehouse:hover .star {
    z-index: 2;
}

.storehouse .popular__icon {
    position: absolute;
    left: 35px;
    bottom: 26px;
    width: 280px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    z-index: -1;
}

.storehouse:hover .popular__icon {
    z-index: 2;
}

.footer {
    background: #030D15;
    height: 396px;    
}

.footer .container {
    display: flex;
    justify-content: space-between;

}
.footer__logo {
    width: 261px;
    margin-top: 75px;
}

.footer__logo > p {
    margin-top: 22px;
}
.footer__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.6;
}


.footer__title {
    margin-top: 75px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
}

.footer li {
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
    opacity: 0.6;  
    margin-top: 15px;
}

.footer ul {
    margin-top: 26px;
}
.footer__about {
    width: 261px;
}

.footer__about > p {
    margin-top: 26px;
}

.website {
    margin-top: 14px;
    font-weight: 500;
    font-size: 14px;
    line-height: 23px;
    color: #FFFFFF;
}

.footer__media {
    margin-top: 16px;
    width: 175px;
    display: flex;
    justify-content: space-between;    
}

.footer__media a{
    opacity: 0.6;
}

.footer__media a:hover{
    opacity: 1;
}
